# --- Python Standard ---
__pycache__/
*.py[cod]
*$py.class

# --- Distribution / Packaging ---
build/
dist/
*.egg-info/
.eggs/

# --- Installer Logs ---
pip-log.txt
pip-delete-this-directory.txt

# --- IDE & OS ---
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Ignore the entire outputs folder content
outputs/*

